.card {
    /* font-family: 'Inter', sans-serif; */
    border: 1px solid black;
    margin: auto auto 20px;
    height: auto;
    text-align: center;
    width: 80%;
    display: block;
    background-color: rgba(48, 155, 204, 0.2);
}